@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Edu AU VIC WA NT Dots;
}
.SERVICIOS{
    text-align: center;
}
.titulo{
    border: 3px dashed blue;
    padding: 20px;
    margin: 20px;
}
.GRUPOTITAN{
    position: static;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

nav{
    background-color: #252525;
}

.navega {
    padding-left: 0;
}
.navega li{
    list-style: none;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
}
.navega li a{
    border: 1px solid;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.opcion{
    padding: 5px;
    margin: 5px;
}

.anunciado{
    color: blue;
}